@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .btn-light {
        @apply bg-gray-100 px-4 py-3 font-medium rounded-lg hover:bg-gray-200
    }
    
    .btn-indigo{
        @apply bg-indigo-600 text-white px-4 py-3 font-medium rounded-sm hover:bg-indigo-700
    }
    
    .btn-primary{
        @apply bg-[#32CD32] text-white px-4 py-3 font-medium rounded-md hover:bg-[#27AF27] 
    }

    .btn-warning{
        @apply bg-orange-400 text-white px-5 py-2 font-medium rounded-sm hover:bg-orange-500
    }

    .btn-danger{
        @apply bg-red-600 text-white px-5 py-2 font-medium rounded-sm hover:bg-red-700
    }
    
    .alert-msg{
        @apply bg-red-100 text-red-700 p-3 mb-3 rounded-sm border-l-4 border-red-600 w-fit text-sm font-medium
    }
    
    .alert-success{
        @apply bg-green-100 text-green-900 p-3 mb-3 rounded-sm border-l-4 border-green-600 text-sm w-fit font-medium       
    }

    .error
    {
        @apply block mt-1.5 text-rose-600 font-medium text-sm
    }

    .flex-y{
        @apply flex items-center
    }
    .my-container{
        @apply max-w-screen-xl w-full mx-auto px-6
    }
    .heading{
        @apply text-xl capitalize font-semibold 
    }

    .table-container{
        @apply rounded-lg overflow-x-auto w-full 
    }

    .table-tr{
        @apply text-left bg-gray-50
    }

    .table-th{
        @apply p-4 uppercase text-xs font-bold text-gray-600 text-center
    }

    .table-td{
        @apply p-4 text-sm text-gray-700 text-center
    }
    
    /* Form Styling */
    .form-control{
        @apply bg-gray-900 p-4 rounded-sm outline-none w-full focus:ring-2 ring-gray-700 transition-all duration-500 placeholder:text-gray-500 capitalize
    }

    .label{
        @apply block mb-2 text-base capitalize text-gray-400
    }

    .form-input{
        @apply w-full border px-3 py-2.5 border-gray-300 rounded-md outline-none
    }
    
    .input-file{
        @apply block file:py-2.5 file:px-4 file:rounded file:cursor-pointer file:bg-indigo-600 file:text-white file:border-none file:text-sm file:font-medium file:mr-4
    }

    .preview-img{
        @apply w-full max-h-48 h-full rounded-md overflow-hidden mt-3
    }
 
    .size{
        @apply border-2 border-gray-400 ml-2 px-3 py-1.5 mt-2 uppercase cursor-pointer rounded text-gray-300 text-sm hover:bg-gray-700
    }

    .pagination-link {
        @apply border border-r-0 border-gray-800 text-gray-500 text-sm font-medium block py-2 px-4 bg-gray-900 
    }

    .pagination-link-light {
        @apply border border-r-0 border-gray-400 text-black-1000 text-sm font-medium block py-2 px-4 bg-white
    }

    .pagination-li:last-child{
        @apply border-r border-r-gray-400
    }

    .nav{
        @apply bg-white w-full h-20 flex items-center shadow-sm top-0 right-0 left-0 fixed z-50
    }

    .nav-li{
        @apply mx-4 cursor-pointer
    }

    .nav-link{
        @apply text-lg font-semibold text-black-1000 capitalize 
    }

    .nav-circle{
        @apply flex items-center justify-center w-6 h-6 rounded-full bg-blue-600 text-xs text-white font-medium absolute -top-2 -right-3
    }

    .header{
        @apply -z-10 mt-20 w-full h-96 bg-[url('./assets/images/header3.jpg')] bg-no-repeat bg-cover relative 
    }
    
    .header-cover{
        @apply absolute inset-0 w-full h-full bg-black-1000/40 
    }

    .header-heading{
        @apply text-white text-2xl capitalize font-medium
    }
    
    .account-list{
        @apply flex items-center px-3 py-3.5 rounded-md
    }

    .account-list-title{
        @apply block ml-3 font-medium text-sm text-gray-700 capitalize
    }

    .active{
        @apply bg-blue-50 
    }
    
    .product-desc h1{
        @apply text-3xl capitalize
    }

    .product-desc h2{
        @apply text-2xl capitalize
    }

    .product-desc h3{
        @apply text-xl capitalize
    }
    
}


.font-brandTitle
{
    font-family: 'Righteous', cursive;
}

.ql-toolbar.ql-snow{
    @apply border-none bg-gray-900 text-gray-100  !important
}

.ql-toolbar .ql-stroke {
    @apply stroke-gray-300 !important;
}

.ql-toolbar .ql-picker {
    @apply text-gray-300 !important;
}

.ql-container.ql-snow{
    @apply bg-gray-700 border-none  !important;
}

.quill > .ql-container > .ql-editor.ql-blank::before{
    @apply text-gray-400 
}

.slide{
    @apply relative
}

.slide-img{
    @apply absolute inset-0
}

.category-slider{
    @apply overflow-hidden rounded-lg relative flex justify-center items-center capitalize !important 
}
.category-swiper{
    @apply w-full h-[150px] mb-20 !important 
}
.swiper {
    width: 100%;
    height: 70vh;
  }
  
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

